body {
  margin: 0;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 14px 0;
  line-height: 1.1;

  @include tablet() {
    font-size: 2.1rem;
  }
}

h2 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  line-break: 1.2;
  margin: 0;
}

p {
  font-size: 0.928rem;
  font-weight: 500;
}

.button {
  height: 45px;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 50px;
  background-color: $primary;
  border-color: transparent;
  color: $white;
  cursor: pointer;
  transition: background-color .3s ease-out;

  &:hover {
    background-color: $primary-light;
  }

  &:focus {
    outline: none;
  }

  // full width button
  &--fw {
    width: 100%;
  }

  @include mobileL() {
    padding: unset;
    font-size: 0.9rem;
  }
}

a {
  text-decoration: none;
}