.full-width{
  width: 100%;
}
.text-uppercase {
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary;
}

.bg-gray {
  background: $light-gray;
}
